---
layout: layouts/page.njk
title: Contact
description: Neem contact op
---

<div class="section">
  <div class="container container--ultrawide">
    <h1>{{ title }}</h1>
    <p>
      Stuur een bericht via
      <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a
      >.
    </p>
  </div>
</div>
